.statistics__tittle{
  text-align: center;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
  #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
  #cad5e2 5px 5px 0;
}

.text{
  text-align: center;
  text-shadow: #fff -1px -1px 0, 
  #333 1px 1px 0;
}